@font-face {
  font-family: Angelia;
  src: url(./Angelia\ Beauty.ttf);
}
@font-face {
  font-family: Cookie;
  src: url(Cookie-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #envelope {
    background-color: #f8e6e6;
    width: 380px; 
    height: 250px;
    border-radius: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
  }
  h1 {
    font-family: Angelia;
  }
  p, button {
    font-family: Cookie;
    font-size: 1.4rem;
  }
  
  #left-side,
  #right-side {
    width: 50%;
    height: 100%;
    background-color: #f8e6e6;
  }
  
  #left-side {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 15px;
  }
  
  #right-side {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #triangle-left {
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 5px;
    border-left: 0px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 265px solid 	#ffd8fc;
    border-radius: 15px;
    z-index: 4;
  
  }
  #triangle-right {
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-left: 150px;
    border-left: 230px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 265px solid #e5d8f6;
    border-radius: 15px;
    z-index: 4;
  }
  #triangle-bottom {
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 55px;
    margin-left: 0px;
    border-left: 190px solid transparent;
    border-right: 190px solid transparent;
    border-bottom: 215px solid #faa8d1;
    border-radius: 15px;
    z-index: 4;
  }
  #triangle-top {
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 0px;
    margin-left: -10px;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 220px solid #f891c4; 
    border-radius: 40px;
    transform-origin: top;
    transition: 0.5s;
    z-index: 5;
  }
  #content {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: -20px;
    background-color: #ffeffc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition-delay: 0.8s;
    transition: 0.5S;
    z-index: 1
  }
  #shadow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 10px;
    top: 300px;
    border-radius: 50%;
  }

  #opencard {
    margin-top: 500px;
    padding: 10px 20px;
    background-color: #f891c4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    transition: 0.3s;
}
  
  #opencard:hover {
    background-color: #f77ebb;
    transition: 0.3s;
  }
  #dudu-img {
    visibility: hidden;
    max-width: 90px;
    height: 90px;

}

/* Zmiana widoczności obrazka po otwarciu koperty */
#content.open img {
    visibility: visible;
    width: 200px;
    height: 200px;

}